<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/upload">TCS Registro de Activos</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/owner"></a><mat-icon>party_mode</mat-icon>
            </li>
            <li>
                <a routerLink="/account"></a><mat-icon>people</mat-icon>
            </li>
            <li>
                <a routerLink="/Logout"></a><mat-icon>public</mat-icon>
            </li>
            <li>
                <a routerLink="/Login"></a><mat-icon>sd_card</mat-icon>
            </li>
        </ul>
    </div>
    <div>
        <span class="example-spacer"></span>
        <mat-icon svgIcon="logo-tcs"></mat-icon>
    </div>
    
  </mat-toolbar>
