<form action="">
  <mat-dialog-content>
      <!-- <h4 mat-dialog-title>Origen: {{data.name}}</h4> -->

      <mat-form-field class="demo-full-width">    
          <!--  <input matInput [(ngModel)]="name" placeholder="Origen del activo"> --> 
          <mat-select placeholder=" Seleccionar ID" name="name" [(ngModel)]="data.dialogdata">    
                  <mat-option>-- Seleccionar --</mat-option>    
                  <mat-option value="id1">Identificacion 1</mat-option>    
                  <mat-option value="id2">Identificacion 2</mat-option>
                  <mat-option value="id3">Identificacion 3</mat-option>                                    
          </mat-select>    
      </mat-form-field> 
          <!-- <p>{{today | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</p>          -->
  </mat-dialog-content>
  <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />

  <div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <h1 mat-dialog-title>Subir Documentos</h1>
    <div>
      <button [disabled]="uploading || uploadSuccessful" mat-raised-button color="primary" class="add-files-btn" (click)="addFiles()">
        Adjuntar Documento 
      </button>
    </div>

    <!-- This is the content of the dialog, containing a list of the files to upload -->
    <mat-dialog-content fxFlex>
      <mat-list>
        <mat-list-item *ngFor="let file of files">

          <h4 mat-line>{{file.name}}</h4>

          <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async"></mat-progress-bar>

        </mat-list-item>
      </mat-list>        
    </mat-dialog-content>

    <!-- This are the actions of the dialog, containing the primary and the cancel button-->
    <mat-dialog-actions class="actions">
      <button *ngIf="showCancelButton" mat-button mat-dialog-close>Cancel</button>
      <button (click)="uploadData()"  mat-raised-button color="primary" [disabled]="!canBeClosed" [mat-dialog-close]="data.dialogdata" cdkFocusInitial>{{primaryButtonText}}</button>
    </mat-dialog-actions>

  </div>
</form>