<div class="container">
        <mat-form-field class="demo-full-width">
                <mat-select placeholder=" Seleccion Origen de Transferencia" [(ngModel)]="name">    
                        <mat-option>-- Seleccionar --</mat-option>    
                        <mat-option value="Cuenta Activo 1">Cuenta de Activo 1</mat-option>
                        <mat-option value="Cuenta Activo 2">Cuenta de Activo 2</mat-option> 
                        <mat-option value="Cuenta Activo 3">Cuenta de Activo 3</mat-option>   
                                                                
                </mat-select>    
        </mat-form-field> 
                <mat-tab-group>
                        <mat-tab label="Componentes"> 
                                <mat-list>
                                        <mat-list-item *ngFor="let item of items">
                                        {{item.title}}
                                        </mat-list-item>
                                </mat-list>  
                        </mat-tab>
                        <mat-tab label="Core Web API">
                                <mat-list>
                                        <mat-list-item *ngFor="let item of items">
                                        {{item.title}}
                                        </mat-list-item>
                                </mat-list> 
                        </mat-tab>
                        <mat-tab label="Navegacion Tap">
                                <mat-list>
                                        <mat-list-item *ngFor="let item of items">
                                        {{item.title}}
                                        </mat-list-item>
                                </mat-list> 
                        </mat-tab>
                </mat-tab-group>
                <mat-list>
                        <mat-list-item *ngIf="dialogdata">
                        Activo Transferido a: {{dialogdata}}
                        </mat-list-item>
                </mat-list> 
                <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                        <div *cdkVirtualFor="let item of items" class="example-item">{{item.title}}</div>
                </cdk-virtual-scroll-viewport> -->
 
        
        <div class="addButton-div">
                <button mat-fab color="primary" (click)="openUploadDialog()">
                Agregar
                </button>
        </div>
</div>